@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
html, body {
  transition: background-color 2s ease, color 2s ease;
}
