@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*{
  box-sizing: border-box;
  border: none;
  outline: none;
  @apply transition-colors duration-500 ease-in-out;
}

body{
  width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}